body{
    background: #1e1f24;
    color: #333;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}


#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
}

#container h1{
    font-size: 30px;
}

#cabecera{
    background: #37488b;
    box-shadow: 0px 2px 20px 0px black;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #logo{
    width: 20px;
    vertical-align: middle;
}

#post{
    background: white;
    padding: 1em;
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#footer{
    color: white;
    text-align: center;
}